<!DOCTYPE HTML>
<body>

<h3> Using Mustache for the first time</h3>

<h6>Videos</h6>

<ul>
	{{#videos}}			<!-- start loop -->
		<li>{{name}}</li>
	{{/videos}}			<!-- end loop -->
</ul>

</body>
</html>
